*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
.container{

    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
    background-image:  linear-gradient(135deg,#8BC6EC 0%,#9599E2 100% ); 
    background-color: #8BC6EC;
    /* position: relative; */
 
}
.card{
    
    
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    /* border-top-left-radius: 10px; */
    background-color: #fff;
    gap: 25px;
   
  

 
}
.img_png{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* overflow: hidden; */
    width: 100%;
    height: 30%;

   
    
}
.text-box{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 70%;
    text-align: center;
    /* padding: 20px; */
}
.heading{
    text-align: center;
     font-weight: 600;
     font-size: 20px;
}
.card  .para{
  text-align: center;
  font-size: 17px;
  font-weight: 500;
}
.ammount_box{
    height: 10%;
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    background-color: #8BC6EC;

}
.music_png{
    width: 3rem;
    
}
.amount-box{
    width: 80%;
    height: 10%;
    background-color: #8BC6EC;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

#leftBox{
    height: 100%;
    display: flex;
    /* width: fit-content; */
    align-items: center;
    gap: 15px;
}
.imgBox{
    background-color: white;
    border-radius: 50%;
    height: 48px;
    
}
.imgBox img{
    height: 3rem;
    width: 3rem;
}

#right-box{
   
    

}



.h4{
    padding: 10px;
    /* margin-bottom: 10px; */
    font-size: 18px;
    font-weight: bold;
    
   
   
}
.h3{
    padding: 16px;
}
.button{
    width: 80%;
    height: 10%;
    background-color: #b0dfff;
    border-radius: 10px;
    padding: 5px;
    border: none;
    background-color:rgb(22,22,79);
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0 ,0 ,0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}
.div{
    text-align: center;

}
.div h3{
    font-size: 19px;
    font-weight: 600;
}
.favicon{
    text-align: center;
}